/*Reseteamos márgenes*/
* {
    margin:0px;
    padding:0px;
}

body{
    background:  #f2f2f2;
}

#totalContenedor {
width: 98%;
margin-left: 1%;
margin-right: 1%;
margin-top: 0px;
margin-bottom: 0%;
color: black;
display:block;
}

header{
    width: 100%;
    background-color:white;
    border-radius:20px; 
    overflow: hidden;
}

/*cabecera fija*/
.headerfixed {
    position: fixed;
}

#LaboratoriaLogo {
    margin-top: 0px;
    /*position: fixed;*/
}
#LaboratoriaLogo img {
    width:30%;
    margin-top: -10px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    /*position: fixed;*/
}

aside{
    width: 15%;
    float: left;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    background-color: #FFE521;
    border-radius:20px; 
    overflow: hidden;
    font-size: 14px;
    font-family:Hurne Geometrica;
    /*position: fixed;*/
}

/*aside fijo*/
.asidefixed{
position: fixed;
}

/*centrar foto de Training manager y dando formato*/
.imgRedonda1{
    display: block;
    margin:auto;
    width:130px;
    height:130px;
    border-radius:150px;
    padding:10px;
} 

/*Nombre de Training manager*/
h3 {
    color:black;
    font-size: 15px;
    font-family:Hurne Geometrica;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

} 

/*formato de iconos*/
.icon-sede,.icon-generation,.icon-courses{
    color:black;
    font-size: 20px;
    font-family:Hurne Geometrica;
}   
/*texto*/
#locals,#generation,#courses {
font-size: 16px;
font-family:Hurne Geometrica;
background: black;
color:#f2f2f2;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 20px;
width: 180px;
}

/*campo para tablas*/
#contenidoTablas {
    width: 84%;
    float: right;
    background-color: white;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    border-radius:20px;
    overflow: hidden;
    font-size: 14px;
    font-family:Hurne Geometrica;
}

    #table{
        /*overflow:scroll;*/
        overflow-x:auto;
        display:block;
        margin-top: -1%;
    }

     
      td{
        padding: 0px;
        font-family:Hurne Geometrica;
        text-align: left;
        background: white; 
      }
      
      th{
        padding: 0px;
        font-family:Hurne Geometrica;
        text-align: left;
        background: #FFE521; 
              }
 
/* Pagination links */
#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
  /* Style the active/current link */
#pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  /* Add a grey background color on mouse-over */
#pagination a:hover:not(.active) {
    background-color: #ddd;
} 
footer {
    background-color: rgb(10, 1, 1);
    clear: both;
    border-radius:20px; 
    overflow: hidden;
    margin-top: 1%;
}

footer h2 {

    font-size: 20px;
    font-family:Hurne Geometrica;
    color: #FFE521;
    text-align: center;
    padding: 2px;
}