* {
    margin:0;
    padding:0;
    }
    
    /*html {
    background-color: black;
    }*/
    
    body {
    width:100%;
    height:100%;
    /*margin:auto;*/
    background-color:white 
    }
    
    header {
    width:1366px;
    height:100px;
    }
    
    #banner {
    width:1066px;
    height:100px;
    float:left;
    /*background-image:url(fotos/logoLABORATORIA2.jpeg);*/
    }
    
    #banner a img{ 
    display:block;
    margin:auto;
    width:600px;
    height:100px;
    }
    
    
    #logo {
    width:300px;
    height:70px;
    float:left;
    background-color: white
    }
    
    #logo a img { 
    width:75px;
    height:70px; 
    display: flex; 
    }
    
    #login {
    width:300px;
    height:30px;
    float:left;
    background-color: lightgray
    }
    
    #header a p { 
    text-align: center;
    }
    
    .userspaceoptions {
    float:right;
    color:black;
    font-family:Hurne Geometrica;
    font-weight: bold;
    }
    
    nav {
    width:1366px;
    height:41px;
    background-color:yellow;
    }
    
    #menu{
    margin:auto;
    width:auto;
    font-family:Hurne Geometrica;
    font-weight: bold;
    }
    ul, ol {
    list-style:none;
    }
    .navmenu > li {
    float:left;
    }
    .navmenu li a {
    background-color:yellow;
    color:black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    }
    .navmenu li a:hover {
    background-color:#434343;
    transform:rotateY(0deg) scale(1);
    transition: all 1s;
    }
    .navmenu li ul {
    display:none;
    position:absolute;
    min-width:140px;
    }
    .navmenu li:hover > ul {
    display:block;
    }
    .navmenu li ul li {
    position:relative;
    }
    .navmenu li ul li ul {
    right:-140px;
    top:0px;
    }
    
    main {
    width:100%;
    height:100%;
    background-color:white;
    }
    
    #searchstudent {
    width:1366px;
    height:25px;
    background-color:rgba(22, 130, 173, 0.589);
    }
    
    #search {
    width:100px;
    height:25px;
    float:right
    }
    
    #input-searchstudent {
    width:150px;
    height:25px;
    float:right
    }
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
    
    footer {
    /*width:1366px;
    height:42px;
    background-color:black;*/
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background-color:rgba(153, 153, 153, 0.548);
    color: rgba(17, 6, 7, 0.644)
    }
    