/*Reseteamos márgenes*/
* {
    margin:0px;
    padding:0px;
  }
  
  body{
    background:  #f2f2f2;
  }
  
  /*texto*/
  
  /*#totalContenedor {
  width: 1330px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
  
  }*/
  
  header{
    width: 100%;
    height: 100px;
    background-color:white;
  
    overflow: hidden;
  }
  
  #LaboratoriaLogo {
    margin-top: 0px
  }
  #LaboratoriaLogo img {
    width:40%;
    height:30%;
    margin-top: -20px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
  }
  
  aside{
    width: 250px;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #FFE521;
    border-radius:20px; 
    overflow: hidden;
    font-size: 14px;
    font-family:Hurne Geometrica;
  }
  
  /*centrar foto de Training manager y dando formato*/
  .imgRedonda1{
    display: block;
    margin:auto;
    width:130px;
    height:130px;
    border-radius:150px;
    padding:10px;
  } 
  
  /*Nombre de Training manager*/
  h3 {
    color:black;
    font-size: 15px;
    font-family:Hurne Geometrica;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  
  } 
  
  .icon-sede,.icon-generation,.icon-courses{
    color:black;
    font-size: 20px;
    font-family:Hurne Geometrica;
  }   
  
  #locals,#generation,#courses {
  font-size: 16px;
  font-family:Hurne Geometrica;
  background: black;
  color:#f2f2f2;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: 180px;
  }
  
  
  #contenidoTablas {
    width: 1050px;
    float: right;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius:20px; 
    overflow: hidden;
    font-size: 19px;
    font-family:Hurne Geometrica;
    }
    /*table{
        display: block;
        width: 70%;
        height: 5px;
        border: 1px solid black;
      }
      
      td{
        padding: 5px;
        font-family:Hurne Geometrica;
        text-align: left;
        background: #f2f2f2;    
      }
      
      th{
        padding: 5px;
        font-family:Hurne Geometrica;
        text-align: left;
        background: #ffc107; 
      }*/
  
  
  /*clear: both hace que el pie depagina no interfiera
  con aside y contenido de tablas */   
  /* Pagination links */
  #pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  #pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  /* Add a grey background color on mouse-over */
  #pagination a:hover:not(.active) {
    background-color: #ddd;
  } 
  footer {
    background-color: rgb(10, 1, 1);
    clear: both;
    border-radius:20px; 
    overflow: hidden;
  }
  
  footer h2 {
    font-size: 20px;
    font-family:Hurne Geometrica;
    color: #FFE521;
    text-align: center;
    padding: 10px;
  }
  
  table{
    text-align: center;
  }